<div class="top-message">
<h1>Individual log</h1>
</div>

<div class="container">
  <div class="logimage">
    <img src="/images/<%= @nemolog['image'] %>" width="400" height="400">
  </div>
  <div class="logdata">
    <p>Date: <%= @nemolog['date'] %></p>
    <p>Species: <%= @nemolog['species'] %></p>
    <p>Location: <%= @nemolog['location'] %></p>
    <p>Depth: <%= @nemolog['depth'] %></p>    
    <p>Memo: <%= @nemolog['memo'] %></p>
  </div>
</div>