<div class="top-message">
<h1>Individual log</h1>
</div>

<div class="container">
  <div class="logimage">
    <img src="/images/<%= @nemologs['image'] %>" width="400" height="400">
  </div>
  <div class="logdata">
    <p>Date: <%= @nemologs['date'] %></p>
    <p>Species: <%= @nemologs['species'] %></p>
    <p>Location: <%= @nemologs['location'] %></p>
    <p>Depth: <%= @nemologs['depth'] %></p>    
    <p>Memo: <%= @nemologs['memo'] %></p>
  </div>
</div>
