<div class="container">
  <div class="logimage">
    <img src="<%= @nemolog['image'] %>" width="400" height="4000" alt="Anenmonefish_image">
  </div>
  <div class="logdata">
    <p>Date: <%= @nemolog['date'] %></p>
    <p>Species: <%= @nemolog['species'] %></p>
    <p>Location: <%= @nemolog['location'] %></p>
    <p>Memo: <%= @nemolog['memo'] %></p>
  </div>
</div>
