<div class="container">
  <div class="logimage">
    <img src="<%= @nemologs['image'] %>" width="400" height="4000" alt="Anenmonefish_image">
  </div>
  <div class="logdata">
    <p>Date: <%= @nemologs['date'] %></p>
    <p>Species: <%= @nemologs['species'] %></p>
    <p>Location: <%= @nemologs['location'] %></p>
    <p>Memo: <%= @nemologs['memo'] %></p>
  </div>
</div>
